beginner:before {
  content: "B";
  background-color: #99c140;
}

junior:before {
  content: "J";
  background-color: #e7b416;
}

mid:before {
  content: "M";
  background-color: #db7b2b;
}

senior:before {
  content: "S";
  background-color: #cc3232;
}

beginner:before,
junior:before,
mid:before,
senior:before {
  margin-right: 0.5em;
  width: 1em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-left: 10px;
  padding-left: 10px;
}
